[run]
source = app
omit = 
    tests/*
    app/__init__.py
    app/config.py
    app/static/*
    app/templates/*
    venv/*
    .venv/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError
    def __str__

[html]
directory = htmlcov 